.header {
  background-color: #5c7d27;
  padding: 10px 20px;
 
}

.navList {
  display: flex;
    list-style: none;
   align-items: center;
  justify-content: space-around;
  background-color: #5c7d27;
}

.link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  transition: color 0.2s ease;
}

.link:hover {
  color: #f66904;
}